* {
  box-sizing: border-box;
}

.auth-container {
  width: 360px;
  margin: 80px auto;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.logo {
  display: block;
  margin: 0 auto 15px;
  width: 120px;
  background: none;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 15px;
}

.auth-container input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-box {
  position: relative;
  width: 100%;
}

.eye-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.auth-container button:hover {
  background-color: #0056b3;
}

.auth-container p {
  text-align: center;
  margin-top: 10px;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
